@charset "UTF-8";
@font-face {
  font-family: 'Gagalin';
  src: url("../fonts/gagalin-regular-webfont.woff2") format("woff2"), url("../fonts/gagalin-regular-webfont.woff") format("woff");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Lifehack';
  src: url("../fonts/lifehack_medium-webfont.woff2") format("woff2"), url("../fonts/lifehack_medium-webfont.woff") format("woff");
  font-weight: 500;
  font-style: normal; }

@media screen and (max-width: 768px) {
  html {
    font-size: 15px; } }

@media screen and (max-width: 480px) {
  html {
    font-size: 14px; } }

body, html {
  height: 100%; }

body {
  font-family: 'Ubuntu', Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.42;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

ul {
  margin: 0;
  padding: 0;
  list-style: none; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: 400; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

p {
  padding: 0;
  margin: 0; }

*, *::before, *::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.visuallyhidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

.wrapper {
  width: 100%;
  overflow: hidden;
  min-height: 100%; }

.section {
  height: 100vh;
  min-height: 650px; }
  @media screen and (max-width: 768px) {
    .section {
      min-height: 1024px; } }
  @media screen and (max-width: 480px) {
    .section {
      min-height: 800px; } }

.container {
  margin: 0 auto;
  max-width: 940px;
  width: 95%;
  height: 100%; }

.title, .menu__trigger-text {
  font-family: 'Gagalin', Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 4.5rem; }
  @media screen and (max-width: 480px) {
    .title, .menu__trigger-text {
      font-size: 3.125rem; } }

.title_yellow {
  color: #f9b43b; }

.title_white {
  color: white; }

.title_black {
  color: #2f3234; }

.scroll {
  top: 5.625rem;
  right: 3.0625rem;
  position: fixed; }

.scroll__item {
  margin-bottom: 0.3125rem; }
  .scroll__item:last-child {
    margin-bottom: 0; }

.scroll__link {
  display: block;
  color: white; }

.scroll__dot_wrapper {
  width: 1rem;
  height: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: border 300ms;
  -o-transition: border 300ms;
  transition: border 300ms; }

.scroll__dot {
  width: 0.375rem;
  height: 0.375rem;
  background: white;
  border-radius: 50%; }

.scroll__item:hover .scroll__dot_wrapper {
  border: 0.0625rem solid white;
  border-radius: 50%; }

.order-btn {
  font-family: 'Ubuntu', Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 0.8125rem;
  display: block;
  color: white;
  text-transform: uppercase;
  padding: 0.5rem 0.9375rem;
  background-color: #e45028;
  border-radius: 0.3125rem;
  text-decoration: none;
  -webkit-transition: background-color 300ms;
  -o-transition: background-color 300ms;
  transition: background-color 300ms;
  border: none;
  outline: none;
  cursor: pointer; }
  .order-btn:hover {
    background-color: #ce401a; }

.hidden-menu {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #2f3234;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  z-index: 100; }

.hidden-menu__nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center; }

.hidden-menu__nav-link {
  font-family: 'Ubuntu', Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  color: white;
  display: block;
  text-decoration: none;
  text-transform: uppercase; }
  .hidden-menu__nav-link:hover {
    text-decoration: underline; }

.hidden-menu__nav-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 28px; }
  .hidden-menu__nav-item:after {
    content: "";
    display: block;
    width: 0.4375rem;
    height: 0.4375rem;
    border-radius: 0.21875rem;
    background-color: #ffffff;
    margin-top: 1.75rem; }
  .hidden-menu__nav-item:last-child {
    margin-bottom: 0; }
    .hidden-menu__nav-item:last-child:after {
      display: none; }

.hidden-menu__header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0; }

.hidden-menu__header-container {
  margin: 0 auto;
  width: 95%;
  padding: 0.75rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.hidden-menu__close-btn {
  margin-left: auto;
  margin-right: 0.625rem;
  display: block; }

.hidden-menu__close-icon {
  width: 18px;
  height: 18px;
  fill: #c2c2c2; }

.hero {
  background-image: url("../images/bg/sections/hero-bg.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat; }

.container_hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-top: 0.75rem;
  padding-bottom: 2.5rem; }

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-item-align: stretch;
  align-self: stretch; }

.header__menu {
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

@media screen and (max-width: 768px) {
  .nav {
    display: none; } }

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.nav__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-right: 0.75rem; }
  .nav__item:before {
    content: "";
    display: block;
    margin-right: 0.75rem;
    width: 0.25rem;
    height: 0.25rem;
    border-radius: 0.125rem;
    background-color: #ffffff; }
  .nav__item:first-child:before {
    display: none; }
  .nav__item:last-child {
    margin-right: 0; }

.nav__link {
  font-family: 'Ubuntu', Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 0.8125rem;
  color: white;
  display: block;
  text-decoration: none;
  text-transform: uppercase; }
  .nav__link:hover {
    text-decoration: underline; }

.header__order {
  margin-left: 0.875rem; }

.header__hamburger {
  display: none;
  margin-left: 1.875rem;
  width: 24px;
  height: 22px; }
  @media screen and (max-width: 768px) {
    .header__hamburger {
      display: block; } }

.header__hamburger_icon {
  width: 100%;
  height: 100%; }

.hero__content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  @media screen and (max-width: 768px) {
    .hero__content {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; } }

.hero__image {
  width: 50%; }
  @media screen and (max-width: 768px) {
    .hero__image {
      width: 60%; } }
  @media screen and (max-width: 480px) {
    .hero__image {
      width: 80%; } }

.hero__image-pic {
  width: 100%; }

.hero__text {
  width: 50%;
  margin-left: 0.75rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-top: 4.0625rem; }
  @media screen and (max-width: 768px) {
    .hero__text {
      width: initial;
      padding-top: 0.9375rem;
      margin-left: 0;
      text-align: center; } }

.hero__text-title {
  margin-bottom: 0.5rem; }
  @media screen and (max-width: 768px) {
    .hero__text-title {
      margin-bottom: 1.375rem; } }
  @media screen and (max-width: 480px) {
    .hero__text-title {
      font-size: 3.9375rem; } }

.hero__text-subtitle {
  font-family: 'Lifehack', Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 4.0625rem;
  color: #ffffff;
  line-height: 0.94;
  letter-spacing: -0.09375rem; }
  @media screen and (max-width: 480px) {
    .hero__text-subtitle {
      font-size: 3.375rem; } }

.hero__downward {
  display: block; }

.hero__downward-icon {
  width: 1.8125rem;
  height: 0.875rem;
  fill: white; }

.about {
  background-image: url("../images/bg/sections/about-bg.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat; }

.container_about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.about__title {
  margin-bottom: 1.875rem; }

.feature__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  @media screen and (max-width: 480px) {
    .feature__list {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; } }

.feature__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 33%; }
  @media screen and (max-width: 480px) {
    .feature__item {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      width: 100%;
      margin-bottom: 13%; }
      .feature__item:last-child {
        margin-bottom: 0; } }

.feature__icon {
  margin-bottom: 1.75rem; }
  @media screen and (max-width: 480px) {
    .feature__icon {
      margin-bottom: 0; } }

.feature__pic {
  width: 6.25rem;
  height: 5.625rem; }
  .feature__pic_meat {
    fill: #e45028; }
  .feature__pic_hand {
    fill: #f9b43b; }
  .feature__pic_natural {
    fill: #8ac03e; }

.feature__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center; }
  @media screen and (max-width: 480px) {
    .feature__info {
      -webkit-box-align: start;
      -ms-flex-align: start;
      align-items: flex-start;
      text-align: left;
      margin-left: 2.125rem; } }

.feature__title {
  font-family: 'Lifehack', Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 1.5rem;
  color: #2f3234;
  margin-bottom: 0.75rem; }

.feature__desc p {
  font-family: 'Ubuntu', Arial, Helvetica, sans-serif;
  font-weight: 300;
  font-size: 0.875rem;
  color: #2f3234;
  padding: 0 0.5rem;
  line-height: 1.7; }
  @media screen and (max-width: 480px) {
    .feature__desc p {
      -webkit-box-align: start;
      -ms-flex-align: start;
      align-items: flex-start;
      text-align: left;
      padding: 0; } }

.burgers {
  background: -webkit-gradient(linear, left bottom, left top, from(#f9b43b), color-stop(48%, #eb8c38), color-stop(74%, #f9b43b));
  background: -o-linear-gradient(bottom, #f9b43b 0%, #eb8c38 48%, #f9b43b 74%);
  background: linear-gradient(to top, #f9b43b 0%, #eb8c38 48%, #f9b43b 74%); }

.container_burgers {
  max-width: 1027px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.burgers__section_left, .burgers__section_right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 3%; }

.burgers__section_center {
  height: 73%;
  width: 92%; }

.burgers__arrow-icon {
  width: 1.6875rem;
  height: 0.875rem;
  fill: white; }

.burgers__arrow_prev .burgers__arrow-icon {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg); }

.burgers__arrow_next .burgers__arrow-icon {
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg); }

.burgers__slider {
  height: 100%;
  width: 100%; }

.burgers__slide {
  position: relative;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.burgers__slide-image {
  width: 50%; }

.burgers__slide-pic {
  display: block;
  margin: 0 auto;
  width: 95%; }

.burgers__slide-content {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 0.625rem; }

.burgers__slide-title {
  line-height: 0.9; }

.burgers__slide-text {
  font-family: 'Ubuntu', Arial, Helvetica, sans-serif;
  font-weight: 300;
  font-size: 0.875rem;
  color: white;
  margin-top: 2.625rem;
  line-height: 1.75; }

.burgers__slide-order {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
  margin-top: 0.5rem; }

.burgers__slide-price {
  font-family: 'Gagalin', Arial, Helvetica, sans-serif;
  font-weight: 400;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
  color: #e45028; }
  .burgers__slide-price-about {
    font-size: 4.5rem; }
  .burgers__slide-price-currency {
    font-size: 1.875rem; }

.order-btn_burgers {
  margin-left: 1.75rem; }

.burgers__slide-composition {
  position: absolute;
  top: 0;
  left: 0;
  width: 5.625rem;
  height: 5.625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: #f08c33;
  border-radius: 0.25rem;
  text-decoration: none; }
  .burgers__slide-composition:hover {
    background-color: #e45028; }

.burgers__slide-composition-icon {
  width: 2.875rem;
  height: 2.75rem;
  fill: white; }

.burgers__slide-composition-title {
  font-family: 'Gagalin', Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 0.875rem;
  text-transform: uppercase;
  color: white;
  margin-top: 0.5rem; }

.burgers__slide-energy {
  font-family: 'Gagalin', Arial, Helvetica, sans-serif;
  font-weight: 400;
  width: 3.75rem;
  position: absolute;
  bottom: 0;
  left: 0;
  color: white;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.burgers__slide-energy-icon {
  width: 3.75rem;
  height: 3.75rem;
  fill: white; }

.burgers__slide-energy-value {
  font-size: 1.25rem;
  position: absolute;
  left: 0;
  right: 0;
  top: 1.5rem; }

.burgers__slide-energy-measure {
  font-size: 0.875rem; }

.team {
  background-image: url("../images/bg/sections/team-bg.jpg");
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  position: relative; }

.team__container {
  position: absolute;
  left: 50%;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #2f3234;
  opacity: 0.93;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-top: 100px; }
  @media screen and (max-width: 768px) {
    .team__container {
      left: 0;
      padding-top: 140px; } }
  @media screen and (max-width: 480px) {
    .team__container {
      padding-top: 200px; } }

.team__content {
  width: 70%; }
  @media screen and (max-width: 768px) {
    .team__content {
      text-align: center; } }

.team__title {
  margin-bottom: 1.4375rem;
  padding: 0 1.5625rem; }
  @media screen and (max-width: 768px) {
    .team__title {
      padding: 0; } }

.team__acco {
  padding: 0 1.5625rem; }
  @media screen and (max-width: 768px) {
    .team__acco {
      padding: 0; } }

.team__item {
  margin-bottom: 1.75rem; }
  .team__item:last-child {
    margin-bottom: 0; }

.team__trigger {
  display: block;
  text-decoration: none; }

.team__trigger-triangle {
  width: 0.5625rem;
  height: 0.375rem;
  fill: #f9b43b;
  vertical-align: middle;
  margin-right: 0.375rem; }

.team__trigger-title {
  font-family: 'Gagalin', Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 0.875rem;
  color: white;
  display: inline-block;
  vertical-align: middle;
  text-transform: uppercase; }
  @media screen and (max-width: 768px) {
    .team__trigger-title {
      font-size: 1.5625rem; } }

.team__member {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 0;
  overflow: hidden; }
  @media screen and (max-width: 768px) {
    .team__member {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; } }

.team__member-title {
  font-family: 'Ubuntu', Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 0.875rem;
  color: white; }

.team__member-desc {
  font-family: 'Ubuntu', Arial, Helvetica, sans-serif;
  font-weight: 300;
  font-size: 0.875rem;
  color: white; }

.team__member-text {
  padding: 0.75rem 0; }

.team__member-desc {
  margin-top: 0.9375rem;
  line-height: 1.7; }

.team__member-photo {
  width: 6.25rem;
  height: 6.25rem;
  border-radius: 50%;
  background-position: center center;
  background-repeat: no-repeat;
  overflow: hidden;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  margin-left: 1.0625rem;
  margin-top: 0.9375rem;
  margin-right: 1.3125rem; }

.team__item_active .team__trigger-title {
  color: #f9b43b; }

.team__item_active .team__member {
  height: initial; }

.team__item_active .team__trigger-triangle {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg); }

.menu {
  background-image: url("../images/bg/sections/menu-bg.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative; }

.menu__title {
  position: absolute;
  left: 9%;
  top: 13%; }
  @media screen and (max-width: 768px) {
    .menu__title {
      left: 4%;
      top: 9%; } }
  @media screen and (max-width: 480px) {
    .menu__title {
      left: 15%;
      top: 6%; } }

.menu__accordeon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.menu__item {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.menu__trigger {
  display: block;
  width: 5rem;
  height: 100%;
  position: relative;
  text-decoration: none;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover; }

.menu__trigger-text {
  font-size: 2.5rem;
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
  position: absolute;
  left: 0;
  bottom: 2.5rem;
  right: 0;
  top: auto;
  white-space: nowrap;
  color: white;
  margin-bottom: 0.75rem; }

.menu__content {
  height: 100%;
  width: 0;
  background-color: #2f3234;
  opacity: 0.93;
  overflow: hidden; }

.menu__content-text {
  font-family: 'Ubuntu', Arial, Helvetica, sans-serif;
  font-weight: 300;
  font-size: 0.875rem;
  color: white;
  padding: 3.75rem 1.875rem; }

.menu__item_active .menu__content {
  width: 33.75rem; }

.menu__item_active .menu__trigger-text {
  color: #f9b43b; }

.reviews__list {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.reviews__item {
  width: 25%;
  height: 50%; }
  @media screen and (max-width: 768px) {
    .reviews__item {
      width: 50%;
      height: 25%; } }

.reviews__block {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%); }

.reviews__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: rgba(20, 20, 20, 0.7);
  opacity: 0;
  -webkit-transition: opacity 300ms;
  -o-transition: opacity 300ms;
  transition: opacity 300ms;
  padding: 2.5rem 1.25rem;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start; }
  @media screen and (max-width: 768px) {
    .reviews__content {
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      text-align: center;
      padding: 1.875rem 0.9375rem; } }
  @media screen and (max-width: 480px) {
    .reviews__content {
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; } }

.reviews__item:hover .reviews__content {
  opacity: 1; }

.reviews__title {
  font-family: 'Gagalin', Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 0.875rem;
  color: white;
  text-transform: uppercase; }
  @media screen and (max-width: 480px) {
    .reviews__title {
      font-size: 1.5625rem; } }

.reviews__text {
  font-family: 'Ubuntu', Arial, Helvetica, sans-serif;
  font-weight: 300;
  font-size: 0.875rem;
  color: white;
  margin-top: 1.25rem; }
  @media screen and (max-width: 480px) {
    .reviews__text {
      display: none; } }

.reviews__details {
  font-family: 'Ubuntu', Arial, Helvetica, sans-serif;
  font-weight: 500;
  display: block;
  font-size: 0.8125rem;
  padding: 0.625rem 1rem;
  color: white;
  text-transform: uppercase;
  background-color: #2f3234;
  border-radius: 0.375rem;
  margin-top: 0.875rem;
  line-height: 1.7;
  text-decoration: none;
  -webkit-transition: background-color 300ms;
  -o-transition: background-color 300ms;
  transition: background-color 300ms; }
  .reviews__details:hover {
    background-color: #1f2122; }
  .reviews__details:after {
    content: "Подробнее"; }
  @media screen and (max-width: 480px) {
    .reviews__details:after {
      content: "Читать отзыв"; } }

.order {
  background-image: url("../images/bg/sections/order-bg.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat; }

.container_order {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.order__title {
  margin-bottom: 1.5625rem;
  text-align: center; }
  @media screen and (max-width: 768px) {
    .order__title {
      margin-bottom: 2.25rem; } }

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  @media screen and (max-width: 768px) {
    .form {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; } }

.form__column {
  width: 48.5%; }
  @media screen and (max-width: 768px) {
    .form__column {
      width: 66%; } }
  @media screen and (max-width: 480px) {
    .form__column {
      width: 100%; } }

@media screen and (max-width: 768px) {
  .form__column_right {
    margin-top: 1.25rem; } }

.form__title {
  font-family: 'Ubuntu', Arial, Helvetica, sans-serif;
  font-weight: 300;
  font-size: 0.875rem;
  color: white; }

.form__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1rem; }
  .form__row:last-child {
    margin-bottom: 0; }
  @media screen and (max-width: 768px) {
    .form__row {
      margin-bottom: 1.25rem; } }
  @media screen and (max-width: 480px) {
    .form__row {
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; } }

@media screen and (max-width: 768px) {
  .form__row_btns {
    margin-top: 2.5rem; } }

@media screen and (max-width: 480px) {
  .form__row_btns {
    margin-top: 0; } }

@media screen and (max-width: 480px) {
  .form__column_right .form__row {
    margin-bottom: 2.8125rem; }
    .form__column_right .form__row:last-child {
      margin-bottom: 0; } }

.form__block {
  display: block;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  margin-right: 1.25rem; }
  .form__block:last-child {
    margin-right: 0; }
  @media screen and (max-width: 480px) {
    .form__block_floor {
      display: none; } }
  @media screen and (max-width: 480px) {
    .form__block_flat {
      margin-right: 0; } }

.form__input {
  border: 0.125rem solid white;
  padding: 0.375rem 1.25rem;
  background: white;
  border-radius: 0.3125rem;
  width: 100%;
  margin-top: 0.375rem; }
  @media screen and (max-width: 480px) {
    .form__input {
      padding: 0.5rem 1.25rem; } }

.form__comment {
  border: 0.125rem solid white;
  padding: 0.375rem 1.25rem;
  resize: none;
  width: 100%;
  background: white;
  border-radius: 0.3125rem;
  height: 6.875rem;
  margin-top: 0.3125rem; }

.form__input:hover,
.form__input:focus,
.form__comment:hover,
.form__comment:focus {
  border-color: #f9b43b;
  outline: none; }

.form__toggle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-right: 1.25rem;
  cursor: pointer; }
  .form__toggle:last-child {
    margin-right: 0; }

.form__toggle-input {
  display: none; }
  .form__toggle-input:checked + .form__toggle-fake .form__toggle-fake_flag {
    opacity: 1; }

.form__toggle-fake {
  width: 0.9375rem;
  height: 0.9375rem;
  background-color: white;
  margin-right: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .form__toggle-fake_radio {
    border-radius: 50%; }

.form__toggle-fake_flag {
  opacity: 0;
  -webkit-transition: opacity 300ms;
  -o-transition: opacity 300ms;
  transition: opacity 300ms; }

.form__toggle-fake_dot {
  width: 0.4375rem;
  height: 0.4375rem;
  background-color: #e45028;
  border-radius: 50%; }

.form__toggle-fake_check {
  width: 0.6875rem;
  height: 0.6875rem;
  stroke: #e45028; }

.clear-btn {
  font-family: 'Ubuntu', Arial, Helvetica, sans-serif;
  font-weight: 300;
  font-size: 0.875rem;
  color: white;
  background-color: transparent;
  padding: 0.5rem 0.9375rem;
  border: none;
  outline: none;
  cursor: pointer; }

.contacts {
  position: relative; }

.map {
  width: 100%;
  height: 100%;
  background: url("https://maps.googleapis.com/maps/api/staticmap?center=Yekaterinburg&zoom=10&size=550x325&scale=2");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center; }

.footer {
  position: absolute;
  top: auto;
  left: 0;
  right: 0;
  bottom: 0;
  background: url("../images/bg/footer-bg.jpg");
  background-position: center bottom;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 0.5rem 0; }

.container_footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  @media screen and (max-width: 480px) {
    .container_footer {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      padding: 0.75rem 0; } }

.footer__section {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  @media screen and (max-width: 480px) {
    .footer__section {
      width: 100%; } }
  .footer__section_left {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start; }
    @media screen and (max-width: 480px) {
      .footer__section_left {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center; } }
  .footer__section_right {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end; }
    @media screen and (max-width: 480px) {
      .footer__section_right {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        margin-top: 1.25rem; } }

.contacts__info {
  font-style: normal; }
  @media screen and (max-width: 480px) {
    .contacts__info {
      text-align: center; } }

.contacts__info-address {
  font-family: 'Ubuntu', Arial, Helvetica, sans-serif;
  font-weight: 300;
  font-size: 0.875rem;
  color: white; }

.contacts__info-phone {
  font-family: 'Ubuntu', Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 0.875rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #e45028;
  text-decoration: none;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  @media screen and (max-width: 480px) {
    .contacts__info-phone {
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      margin-top: 0.5rem; } }

.contacts__info-phone-icon {
  width: 0.75rem;
  height: 0.75rem;
  fill: #e45028;
  margin-right: 0.5rem; }

.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row; }

.socials__item {
  margin-right: 1rem; }
  .socials__item:hover .socials__icon {
    opacity: 1; }
  .socials__item:last-child {
    margin-right: 0; }

.socials__icon {
  width: 1.4375rem;
  height: 1.4375rem;
  fill: white;
  opacity: 0.3;
  -webkit-transition: opacity 300ms;
  -o-transition: opacity 300ms;
  transition: opacity 300ms; }

/*# sourceMappingURL=main.css.map */