//config
@import "config/_variables.scss";
@import "config/_mixins.scss";

//base
@import "layout/_fonts.scss";
@import "layout/_base.scss";
@import "layout/_adjustment.scss";

//blocks
@import "blocks/_title.scss";
@import "blocks/_scroll.scss";
@import "blocks/_btns.scss";

//section
@import "sections/_hero.scss";
@import "sections/_about.scss";
@import "sections/_team.scss";
@import "sections/_menu.scss";
@import "sections/_reviews.scss";
@import "sections/_order.scss";
@import "sections/_contacts.scss";