.about {
    background-image: url('../images/bg/sections/about-bg.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.container_about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.about__title {
    margin-bottom: rem(30px);
}

.about__features {
    display: flex;  
    justify-content: space-between;
}

.about__feature {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 33%;
}

.feature__icon {
    margin-bottom: rem(28px);
}

.feature__pic {

    width: rem(100px);
    height: rem(90px);

    &_meat {
        fill: $orange;
    }

    &_hand {
        fill: $yellow;
    }

    &_natural {
        fill: $green;
    }
}

.feature__info {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.feature__title {
    @include lifehack();
    font-size: rem(24px);
    color: #2f3234;
    margin-bottom: rem(12px);
}

.feature__desc {
    p {
        @include ubuntu($light);
        font-size: rem(14px);
        text-align: center;
        color: #2f3234;
        padding: 0 rem(8px);
        line-height: 1.7;
    }
   
}