.burgers {
    background: linear-gradient(to top, #f9b43b 0%, #eb8c38 48%, #f9b43b 74%);
}

.container_burgers {
    max-width: 1027px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.burgers__slider-container {
    position: relative;
    width: 92%;
    display: flex;


    @include tablets {
        width: 80%;
    }

    @include phones {
        width: 96%;
    }
}

.burgers__arrow {
    position: absolute;
    z-index: 10;
}

.burgers__arrow_prev {
    top: 50%;
    left: rem(-40px);
    transform: translateY(-50%) rotate(90deg);
    transition: transform 200ms;

    @include tablets {
        left: rem(-60px);
    }

    @include phones {
        left: 0;
    }

    &:hover {
        transform: translateY(-50%) rotate(90deg) scale(1.2);
    }
}

.burgers__arrow_next {
    top: 50%;
    right: rem(-40px);
    transform: translateY(-50%) rotate(-90deg);
    transition: transform 200ms;

    @include tablets {
        right: rem(-60px);
    }

    @include phones {
        right: 0;
    }


    &:hover {
        transform: translateY(-50%) rotate(-90deg) scale(1.2);
    }
}

.burgers__arrow-icon {
    width: rem(27px);
    height: rem(14px);
    fill: white;
}

.burgers__slider {
    width: 100%;
    display: flex;
    overflow: hidden;
    
}

.burgers__items {
    position: relative;
    display: flex;
    right: 0px;
    // transition: right 300ms;
}

.burgers__slide {
    position: relative;
    width: 0px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: rem(470px);

    @include tablets {
        height: initial;
        flex-direction: column;
    }
}

.burgers__image {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    width: 50%;

    @include tablets {
        width: 82%;
        margin-top: rem(80px);
        height: rem(330px);
    }

    @include phones {
        width: 90%;
        margin-top: rem(100px);
    }
}

.burgers__image-pic {
    display: block;
    margin: 0 auto;
    width: 95%;
}

.burgers__content {
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: rem(10px);

    @include tablets {
        text-align: center;
        width: 100%;
        padding-top: rem(40px);
        align-items: center;
    }

    @include phones {
        padding-left: 0;
        padding-right: 0;
    }
}

.burgers__content-title {
    line-height: 0.9;

    @include tablets {
        width: 80%;
    }

    @include phones {
        line-height: 1.2;
    }
}

.burgers__content-text {
    @include ubuntu($light);
    font-size: rem(14px);
    color: white;
    margin-top: rem(42px);
    line-height: 1.75;

    @include tablets {
        margin-top: rem(50px);
    }

    @include phones {
        margin-top: rem(22px);
    }
}

.burgers__content-order {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    margin-top: rem(8px);

    @include tablets {
        margin-top: rem(30px);
    }
}

.burgers__content-price {
    @include gagalin();
    display: flex;
    flex-direction: row; 
    align-items: baseline;
    color: $orange;

    &-about {
        font-size: rem(72px);

        @include phones {
            font-size: rem(50px);
        }
    }

    &-currency {
        font-size: rem(30px);

        @include phones {
            font-size: rem(25px);
        }
    }
}

.burgers__content-order-btn {
    margin-left: rem(28px);
}

.composition {
    display: flex;
    position: absolute;
    top: rem(5px);
    left: rem(5px);

    &:hover  .composition__popup {
        opacity: 0.9;
        left: rem(90px);
    }

    &:hover .composition__btn {
        background-color: $orange;
    }
}

.composition__btn {
    width: rem(90px);
    height: rem(90px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f08c33;
    border-radius: rem(4px);    
    transition: background-color 300ms;
}

.composition__btn-icon {
    width: rem(46px);
    height: rem(44px);
    fill: white;
}

.composition__btn-title {
    @include gagalin();
    font-size: rem(14px);
    text-transform: uppercase;
    color: white;
    margin-top: rem(8px);
}

.composition__popup {
    position: absolute;
    left: -9999px;
    background: white;
    opacity: 0;
    width: rem(270px);
    padding: rem(20px);
    border-radius: rem(5px);
    transition: opacity 300ms;
    z-index: 10;
}

.composition__table {
    width: 100%;
}

.composition__table-icon {
    width: rem(44px);
    height: rem(44px);

    &_beef, &_sauce {
        fill: $orange;
    }

    &_buns, &_cheese {
        fill: $yellow;
    }

    &_salad, &_cucumber {
        fill: $green;
    }
}

.composition__table-title {
    @include ubuntu($medium);
    font-size: rem(14px);
    color: $dark;
}

.composition__table-weight {
    @include ubuntu($light);
    font-size: rem(14px);
    color: $dark;
    text-align: right;
}

.energy {
    @include gagalin();
    width: rem(60px);
    position: absolute;
    bottom: rem(5px);
    left: rem(5px);
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    z-index: 10;

    @include tablets {
        right: rem(5px);
        top: rem(5px);
        left: auto;
        bottom: auto;
    }

}

.energy__icon {
    width: rem(60px);
    height: rem(60px);
    fill: white;
}

.energy__value {
    font-size: rem(20px);
    position: absolute;
    left: 0;
    right: 0;
    top: rem(24px);
}

.energy__measure {
    font-size: rem(14px);
}

