.contacts {
    position: relative;
}

.map {
    width: 100%;
    height: 100%;
    background: url('https://maps.googleapis.com/maps/api/staticmap?center=Yekaterinburg&zoom=10&size=550x325&scale=2');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.footer {
    position: absolute;
    top: auto;
    left: 0;
    right: 0;
    bottom: 0;
    background: url('../images/bg/footer-bg.jpg');
    background-position: center bottom;
    background-size: cover;
    background-repeat: no-repeat;
    padding: rem(8px) 0;
}

.container_footer {
    display: flex;
    flex-direction: row;
    align-items: center;

    @include phones {
        flex-direction: column;
        padding: rem(12px) 0;
    }
}

.footer__section {
    width: 50%;
    display: flex;
    align-items: center;

    @include phones {
        width: 100%;
    }


    &_left {
        justify-content: flex-start;

        @include phones {
            justify-content: center;
        }
    }

    &_right {
        justify-content: flex-end;

        @include phones {
            justify-content: center;
            margin-top: rem(20px);
        }
    }
}

.contacts__info {
    font-style: normal;

    @include phones {
        text-align: center;
    }
}

.contacts__info-address {
    @include ubuntu($light);
    font-size: rem(14px);
    color: white;
}

.contacts__info-phone {
    @include ubuntu($bold);
    font-size: rem(14px);
    display: flex;
    color: $orange;
    text-decoration: none;
    align-items: center;

    @include phones {
        justify-content: center;
        margin-top: rem(8px);
    }
}

.contacts__info-phone-icon {
    width: rem(12px);
    height: rem(12px);
    fill: $orange;
    margin-right: rem(8px);
}

.socials {
    display: flex;
    flex-direction: row;
}

.socials__item {
    margin-right: rem(16px);

    &:hover .socials__icon {
        opacity: 1;
    }

    &:last-child {
        margin-right: 0;
    }

}

.socials__icon {
    width: rem(23px);
    height: rem(23px);
    fill: white;
    opacity: 0.3;
    transition: opacity 300ms;
}

