.hero {
    background-image: url('../images/bg/sections/hero-bg.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.container_hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: rem(12px);   
    padding-bottom: rem(40px);
}

.header {
    display: flex;
    align-items: center;
    flex-direction: row;
    align-self: stretch;
}

.header__menu {
    margin-left: auto;
}

.nav__list {
    display: flex;
    align-items: center;
}

.nav__item {
    display: flex;
    align-items: center;
    margin-right: rem(12px);

    &:before {
        content: "";
        display: block;
        margin-right: rem(12px);
        @include circle(rem(4px), #ffffff)
    }

    &:first-child {
        &:before {
            display: none;
        }
    } 

    &:last-child {
        margin-right: 0;
    }
}

.nav__link {
    @include ubuntu($medium);
    font-size: rem(13px);
    color: white;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    &:hover {
        text-decoration: underline;
    }
}

.header__order {
    margin-left: rem(14px);
}

.hero__content {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    align-items: center;
}

.hero__text {
    margin-left: rem(12px);
    display: flex;
    flex-direction: column;
    padding-top: 65px;
}

.hero__text-title {
    margin-bottom: rem(8px);
}

.hero__text-subtitle {
    @include lifehack();
    font-size: rem(65px);
    color: #ffffff;
    line-height: 0.94;
    letter-spacing: rem(-1.5px);
}

.hero__downward {
    display: block;
}

.hero__downward-icon {
    width: rem(29px);
    height: rem(14px);
    fill: white;
}

