.hero {
    background-image: url('../images/bg/sections/hero-bg.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.container_hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 12px;   
    padding-bottom: 40px;
}

.header {
    display: flex;
    align-items: center;
    flex-direction: row;
    align-self: stretch;
}

.header__menu {
    margin-left: auto;
}

.nav__list {
    display: flex;
    align-items: center;
}

.nav__item {
    display: flex;
    align-items: center;
    margin-right: 12px;

    &:before {
        content: "";
        display: block;
        margin-right: 12px;
        @include circle(4px, #ffffff)
    }

    &:first-child {
        &:before {
            display: none;
        }
    } 

    &:last-child {
        margin-right: 0px;
    }
}

.nav__link {
    @include ubuntu($medium, 13px);
    color: white;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    &:hover {
        text-decoration: underline;
    }
}

.header__btn {
    margin-left: 14px;
}

.order {
    @include ubuntu($medium, 13px);
    display: block;
    color: white;
    text-transform: uppercase;
    padding: 6px 15px;
    background-color: $orange;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 300ms;

    &:hover {
        background-color: darken($orange, 7%);
    }
}

.hero__content {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    align-items: center;
}

.hero__text {
    margin-left: 12px;
    display: flex;
    flex-direction: column;
    padding-top: 65px;
}

.hero__text-title {
    margin-bottom: 8px;
}

.hero__text-subtitle {
    @include lifehack(65px);
    color: #ffffff;
    line-height: 0.94;
    letter-spacing: -1.5px;
}

.hero__downward {
    display: block;
}

.hero__downward-icon {
    width: 29px;
    height: 14px;
    fill: white;
}

