.hero {
    background-image: url('../images/bg/sections/hero-bg.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.container_hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: rem(12px);   
    padding-bottom: rem(40px);
}

.header {
    display: flex;
    align-items: center;
    flex-direction: row;
    align-self: stretch;
}

.header__menu {
    margin-left: auto;  
    display: flex;
    align-items: center;
}

.nav {
    @include tablets() {
        display: none;
    }
}

.nav__list {
    display: flex;
    align-items: center;
}

.nav__item {
    display: flex;
    align-items: center;
    margin-right: rem(12px);

    &:before {
        content: "";
        display: block;
        margin-right: rem(12px);
        @include circle(rem(4px), #ffffff)
    }

    &:first-child {
        &:before {
            display: none;
        }
    } 

    &:last-child {
        margin-right: 0;
    }
}

.nav__link {
    @include ubuntu($medium);
    font-size: rem(13px);
    color: white;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    &:hover {
        text-decoration: underline;
    }
}

.header__order {
    margin-left: rem(14px);
}

.header__hamburger {
    display: none;
    margin-left: rem(30px);
    width: 24px;
    height: 22px;

    @include tablets() {
        display: block;
    }
}

.header__hamburger_icon{
    width: 100%;
    height: 100%;
}

.hero__content {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    align-items: center;

    @include tablets() {
        flex-direction: column;
        justify-content: center;
    }
}

.hero__image {
    width: 50%;

    @include tablets() {
        width: 60%;
    }

    @include phones() {
        width: 80%;
    }
}

.hero__image-pic {
    width: 100%;
}

.hero__text {
    width: 50%;
    margin-left: rem(12px);
    display: flex;
    flex-direction: column;
    padding-top: rem(65px);

    @include tablets {
        width: initial;
        padding-top: rem(15px);
        margin-left: 0;
        text-align: center;
    }
}

.hero__text-title {
    margin-bottom: rem(8px);

    @include tablets() {
        margin-bottom: rem(22px);
    }

    @include phones {
        font-size: rem(63px);
    }
}

.hero__text-subtitle {
    @include lifehack();
    font-size: rem(65px);
    color: #ffffff;
    line-height: 0.94;
    letter-spacing: rem(-1.5px);

    @include phones {
        font-size: rem(54px);
    }
}

.hero__downward {
    display: block;
}

.hero__downward-icon {
    width: rem(29px);
    height: rem(14px);
    fill: white;
}

