.menu {
    background-image: url('../images/bg/sections/menu-bg.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
}

.menu__title {
    position: absolute;
    left: 9%;
    top: 13%;

    @include tablets {
        left: 4%;
        top: 9%;
    }

    @include phones {
        left: 15%;
        top: 6%;
    }
}

.menu__accordeon {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: auto;
    display: flex;
}

.menu__item {
    height: 100%;
    display: flex;
}

.menu__trigger {
    display: block;
    width: rem(80px);
    height: 100%;
    position: relative;
    text-decoration: none;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.menu__trigger-text {
    @extend .title;
    font-size: rem(40px);
    transform: rotate(-90deg);
    position: absolute;
    left: 0;
    bottom: rem(40px);
    right: 0;
    top: auto;
    white-space: nowrap; 
    color: white;
    margin-bottom: rem(12px)
}

.menu__content {
    height: 100%;
    width: 0;
    background-color: $dark;
    opacity: 0.93;
    overflow: hidden;
    transition: width 300ms;
}

.menu__content-text {
    @include ubuntu($light);
    font-size: rem(14px);
    color: white;
    padding: rem(60px) rem(30px);
}

.menu__item_active {
    .menu__trigger-text {
        color: $yellow;
    }
}

.menu__overlay {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    transition: opacity 300ms;
}

.menu__overlay-content {
    width: 100%;
    opacity: 1;
}

.menu__overlay-trigger-text {
    color: $yellow;
}

.menu__overlay-close-btn {
    position: absolute;
    top: 30px;
    right: 30px;
}

.menu__overlay-close-icon {
    width: 18px;
    height: 18px;
    fill: #c2c2c2;
}
