.order {
    background-image: url('../images/bg/sections/order-bg.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.container_order {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.order__title {
    margin-bottom: rem(25px);
    text-align: center;

    @include tablets {
        margin-bottom: rem(36px);
    }
}

.form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    @include tablets() {
        flex-direction: column;
        align-items: center;
    }
}

.form__column {
    width: 48.5%;

    @include tablets() {
        width: 66%;
    }


    @include phones() {
        width: 100%;
    }
}

.form__column_right {
    @include tablets {
        margin-top: rem(20px);
    }
}

.form__title {
    @include ubuntu($light);
    font-size: rem(14px);
    color: white;
}

.form__row {
    display: flex;
    margin-bottom: rem(16px);

    &:last-child {
        margin-bottom: 0;
    }

    @include tablets {
        margin-bottom: rem(20px);
    }

    @include phones {
        justify-content: center;
    }
}

.form__row_btns {
    @include tablets {
        margin-top: rem(40px);
    }

    @include phones {
        margin-top: 0;
    }
}

.form__column_right {
    .form__row {
        @include phones {
            margin-bottom: rem(45px);

            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}

.form__block {
    display: block;
    flex: 1;
    margin-right: rem(20px);

    &:last-child {
        margin-right: 0;
    }

    &_floor {
        @include phones {
            display: none;
        }
    }

    &_flat {
        @include phones {
            margin-right: 0;
        }
    }
}

.form__input {
    border: rem(2px) solid white;
    padding: rem(6px) rem(20px);
    background: white;
    border-radius: rem(5px);
    width: 100%;
    margin-top: rem(6px);

    @include phones {
        padding: rem(8px) rem(20px);
    }

}

.form__comment {
    border: rem(2px) solid white;
    padding: rem(6px) rem(20px);
    resize: none;
    width: 100%;
    background: white;
    border-radius: rem(5px);
    height: rem(110px);
    margin-top: rem(5px);
}

.form__input:hover,
.form__input:focus,
.form__comment:hover,
.form__comment:focus {
    border-color: $yellow;
    outline: none;
}


.form__toggle {
    display: flex;
    align-items: center;
    margin-right: rem(20px);
    cursor: pointer;

    &:last-child {
        margin-right: 0;
    }
}

.form__toggle-input {
    display: none;

    &:checked + .form__toggle-fake {
        .form__toggle-fake_flag {
            opacity: 1;
        }
    }
}

.form__toggle-fake {
    width: rem(15px);
    height: rem(15px);
    background-color: white;
    margin-right: rem(8px);
    display: flex;
    align-items: center;
    justify-content: center;

    &_radio {
        border-radius: 50%;
    }
}

.form__toggle-fake_flag {
    opacity: 0;
    transition: opacity 300ms;
}


.form__toggle-fake_dot {
    width: rem(7px);
    height: rem(7px);
    background-color: $orange;
    border-radius: 50%;
}

.form__toggle-fake_check {
    width: rem(11px);
    height: rem(11px);
    stroke: $orange;
}

.clear-btn {
    @include ubuntu($light);
    font-size: rem(14px);
    color: white;
    background-color: transparent;
    padding: rem(8px) rem(15px);
    border: none;
    outline: none;
    cursor: pointer;
}



