.reviews__list {
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.reviews__item {
    width: 25%;
    height: 50%;
}

.reviews__block {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.reviews__content {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: rgba(20, 20, 20, 0.7);
    opacity: 0;
    transition: opacity 300ms;
    padding: 20px;
    align-items: left;
    justify-content: center;
}

.reviews__item:hover .reviews__content {
    opacity: 1;
}

.reviews__title {
    font-family: 'Gagalin', Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: $regular;
    color: #ffffff;
    text-transform: uppercase;
}

.reviews__text {
    font-size: 14px;
    font-weight: $light;
    color: #ffffff;
    margin-top: 20px;
}

.reviews__details {
    padding: 10px 16px;
    color: #ffffff;
    font-size: 13px;
    font-weight: $medium;
    text-transform: uppercase;
    background-color: #2f3234;
    border-radius: 6px;
    margin-top: 14px;
    line-height: 1.7;
    text-decoration: none;
    transition: background-color 300ms;

    &:hover {
        background-color: #1f2122;
    }
}
