.reviews__list {
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.reviews__item {
    width: 25%;
    height: 50%;
}

.reviews__block {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    filter: grayscale(100%);
}

.reviews__content {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: rgba(20, 20, 20, 0.7);
    opacity: 0;
    transition: opacity 300ms;
    padding: rem(40px) rem(20px);
    align-items: flex-start;
}

.reviews__item:hover .reviews__content {
    opacity: 1;
}

.reviews__title {
    @include gagalin();
    font-size: rem(14px);
    color: white;
    text-transform: uppercase;
}

.reviews__text {
    @include ubuntu($light);
    font-size: rem(14px);
    color: white;
    margin-top: rem(20px);
}

.reviews__details {
    @include ubuntu($medium);
    font-size: rem(13px);
    padding: rem(10px) rem(16px);
    color: white;
    text-transform: uppercase;
    background-color: #2f3234;
    border-radius: rem(6px);
    margin-top: rem(14px);
    line-height: 1.7;
    text-decoration: none;
    transition: background-color 300ms;

    &:hover {
        background-color: #1f2122;
    }
}
