.team {
    background-image: url('../images/bg/sections/team-bg.jpg');
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    position: relative;
}

.team__container {
    position: absolute;
    left: 50%;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: $dark;
    opacity: 0.93;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
   

    @include tablets() {
        left: 0;
    }
}

.team__content {
    width: 70%;

    @include tablets() {
        text-align: center;
    }
}

.team__title {
    margin-bottom: rem(23px);
    padding: 0 rem(25px);

    @include tablets() {
        padding: 0;
    }
}

.team__acco {
    padding: 0 rem(25px);

    @include tablets() {
        padding: 0;
    }
}

.team__item {
    margin-bottom: rem(28px);

    &:last-child {
        margin-bottom: 0;
    }
}

.team__trigger {
    display: block;
    text-decoration: none; 
}

.team__trigger-triangle {
    width: rem(9px);
    height: rem(6px);
    fill: $yellow;
    vertical-align: middle;
    margin-right: rem(6px);
}

.team__trigger-title {
    @include gagalin();
    font-size: rem(14px);
    color: white;
    display: inline-block;
    vertical-align: middle;
    text-transform: uppercase;

    @include tablets {
        font-size: rem(25px);
    }
}

.team__member {
    display: flex;
    height: 0;
    overflow: hidden;

    @include tablets() {
        flex-direction: column;
        align-items: center;
    }
}

.team__member-title {
    @include ubuntu($bold);
    font-size: rem(14px);
    color: white;
}

.team__member-desc {   
    @include ubuntu($light);
    font-size: rem(14px);
    color: white;
}

.team__member-text {
    padding: rem(12px) 0;
}

.team__member-desc {
    margin-top: rem(15px);
    line-height: 1.7;
}

.team__member-photo {
    width: rem(100px);
    height: rem(100px);
    border-radius: 50%;
    background-position: center center;
    background-repeat: no-repeat;
    overflow: hidden;
    flex-shrink: 0;
    margin-left: rem(17px);
    margin-top: rem(15px);
    margin-right: rem(21px);
}

.team__item_active {
    .team__trigger-title {
        color: $yellow;
    }
    .team__member {
        height: initial;
    }
    .team__trigger-triangle {
        transform: rotate(180deg);
    }
}

