
.wrapper {
    width: 100%;
    min-width: 1100px;
    overflow: hidden;
}

.section {
    height: 100vh;
    min-height: 650px;
}

.container {
    margin: 0 auto;
    width: 1100px;
    height: 100%;
}   

.container_small {
    @extend .container;
    width: 940px;  
}