.wrapper {
    width: 100%;
    overflow: hidden;
    min-height: 100%;
}

.section {
    height: 100vh;
    min-height: 650px;

    @include tablets {
        min-height: 1024px;
    }

    @include phones {
        min-height: 800px;
    }
}

.container {
    margin: 0 auto;
    max-width: 940px;
    width: 95%;
    height: 100%;
}   

.body_nonscroll {
    overflow: hidden;
}