.wrapper {
    width: 100%;
    min-width: 940px + 20px;
    overflow: hidden;
}

.section {
    height: 100vh;
    min-height: 650px;
}

.container {
    margin: 0 auto;
    width: 940px;
    height: 100%;
}   
