html {
    @include tablets() {
        font-size: 15px;
    }
    
    @include phones() {
        font-size: 14px;
    }
}

body, html {
    height: 100%;
}

body {
    @include ubuntu($regular);
    font-size: rem(16px);
    line-height: 1.42;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-weight: $regular;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

p {
    padding: 0;
    margin: 0;
}

*, *::before, *::after {
    box-sizing: border-box;
}

.visuallyhidden {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;

    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

