.section_first {
    background-image: url('../../images/bg/section-first.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.container_first {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.first__header {
    display: flex;
    align-items: center;
    padding-top: 12px;   
    flex-direction: row;
    align-self: stretch;
}

.logo {
    display: inline-block;
}

.logo__image {
    width: 92px;
    height: 69px;
    background-image: url('../../images/icons/logo.svg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 92px 69px;
}

.nav {
    margin-left: auto;
}

.nav__item {
    display: inline-block;
    margin-right: 12px;
}

.nav__item::before {
    content: "";
    display: inline-block;
    width: 4px;
    height: 4px;
    background-color: #ffffff;
    border-radius: 50%;
    vertical-align: middle;
    margin-right: 12px;
}

.nav__item:first-child::before {
    display: none;
}

.nav__item:last-child {
    margin-right: 0px;
}

.nav__link {
    display: inline-block;
    font-size: 13px;
    font-weight: 500;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
}

.order {
    display: block;
    font-size: 13px;
    font-weight: 500;
    color: #ffffff;
    text-transform: uppercase;
    padding: 6px 15px;
    background-color: #e45028;
    border-radius: 5px;
    margin-left: 14px;
    text-decoration: none;
    transition: background-color 300ms;
}

.order:hover {
    background-color: #c1401e;
}

.scroll {
    top:90px;
    right: 49px;
    position: fixed;
}

.scroll__item {
    margin-bottom: 5px; 
}

.scroll__item:last-child {
    margin-bottom: 0px;
}

.scroll__link {
    display: block;
}

.scroll__dot_wrapper {
    width: 16px;
    height: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: border 300ms;
}

.scroll__dot {
    width: 6px;
    height: 6px;
    background: #ffffff;
    border-radius: 50%;
}

.scroll__item_active .scroll__dot_wrapper, .scroll__item:hover .scroll__dot_wrapper {
    border: 1px solid #ffffff;
    border-radius: 50%;
}

.first__content {
    display: flex;
    flex-direction: row;
}


.first__content-image {
    width: 451px;
    height: 424px;
    background-image: url('../../images/content/first-burger.png');
    background-repeat: no-repeat;
}

.first__content-text {
    margin-left: 12px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-bottom: 64px;
}

.first__content-title {
    margin-bottom: 8px;
}

.first__content-subtitle {
    font-family: 'Lifehack', Arial, Helvetica, sans-serif;
    color: #ffffff;
    font-size: 65px;
    font-weight: 500;
    line-height: 0.94;
    letter-spacing: -1.5px;
}

.first__downward {
    width: 29px;
    height: 14px;
    margin-bottom: 40px;
    background-image: url('../../images/icons/arrow-scroll.svg');
    background-size: 29px 14px;
}