.section__about {
    background-image: url('../../images/bg/section-about.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.container_about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.about__content {
    width: 100%;
}

.about__title {
    text-align: center;
    margin-bottom: 30px;
}

.about__features {
    display: flex;  
    justify-content: space-between;
}

.about__feature {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
}

.feature__icon {
    background-repeat: no-repeat;
    background-position: center center;
    margin-bottom: 28px;
}

.feature__icon_meat {
    width: 97px;
    height: 90px;
    background-image: url('../../images/icons/meat.svg');
    background-size: 97px 90px;
}

.feature__icon_hand {
    width: 73px;
    height: 89px;
    background-image: url('../../images/icons/hand.svg');
    background-size: 73px 89px;
}

.feature__icon_natural {
    width: 88px;
    height: 76px;
    background-image: url('../../images/icons/natural.svg');
    background-size: 88px 76px;
    
}

.feature__title {
    font-family: 'Lifehack', Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 24px;
    color: #2f3234;
    margin-bottom: 12px;
}

.feature__desc {
    font-weight: 300;
    font-size: 14px;
    text-align: center;
    color: #2f3234;
    padding: 0 8px;
    line-height: 1.7;
}