.order-btn {
    @include ubuntu($medium, 13px);
    display: block;
    color: white;
    text-transform: uppercase;
    padding: 8px 15px;
    background-color: $orange;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 300ms;
    border: none;
    outline: none;
    cursor: pointer;

    &:hover {
        background-color: darken($orange, 7%);
    }
}