.order-btn {
    @include ubuntu($medium);
    font-size: rem(13px);
    display: block;
    color: white;
    text-transform: uppercase;
    padding: rem(8px) rem(15px);
    background-color: $orange;
    border-radius: rem(5px);
    text-decoration: none;
    transition: background-color 300ms;
    border: none;
    outline: none;
    cursor: pointer;

    &:hover {
        background-color: darken($orange, 7%);
    }
}
