.scroll {
    top: rem(90px);
    right: rem(49px);
    position: fixed;
}

.scroll__item {
    margin-bottom: rem(5px); 

    &:last-child {
        margin-bottom: 0;
    }
}

.scroll__link {
    display: block;
    color: white;
}

.scroll__dot_wrapper {
    width: rem(16px);
    height: rem(16px);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: border 300ms;
}

.scroll__dot {
    width: rem(6px);
    height: rem(6px);
    background: white;
    border-radius: 50%;
}

.scroll__item {
    &.active, &:hover{
        .scroll__dot_wrapper {
            border: rem(1px) solid white;
            border-radius: 50%;
        }
    }
}

