.title {
    @include gagalin();
    font-size: rem(72px);

    @include phones {
        font-size: rem(50px);
    }
}

.title_yellow {
    color: $yellow;
}

.title_white {
    color: white;
}

.title_black {
    color: $dark;
}
