.title {
    @include gagalin(72px);
}

.title_yellow {
    @extend .title;
    color: #f9b43b;
}

.title_white {
    @extend .title;
    color: #ffffff;
}

.title_black {
    @extend .title;
    color: #2f3234;
}
